doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(type="text/javascript", src="https://code.jquery.com/jquery-2.2.4.min.js")
		script(type="text/javascript").
			$(document).ready(function(){
				$('#btn1').on('click',function(){
					alert(1);
					$.ajax({
						url:'/rest/saveOrUpdateWorkflow',
						type:'POST',
						data:{test:'hello'},
						succees:function(data){
							$(body).text(data);
						}
					})
				})
			})
			
	body
		h1= title
		input(type='button',id='btn1',value='按钮1')